<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>jsp01</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>PointController</servlet-name>
		<servlet-class>ch02.PointController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointController</servlet-name>
		<url-pattern>/ch02_servlet/point.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SalaryController</servlet-name>
		<servlet-class>ch02.SalaryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalaryController</servlet-name>
		<url-pattern>/ch02_servlet/salary.do</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<!-- http status code -->
		<location>/error/404code.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500code.jsp</location>
	</error-page>
</web-app>