<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jsp03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EncodingFilter</display-name>
    <servlet-name>EncodingFilter</servlet-name>
    <servlet-class>common.EncodingFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingFilter</servlet-name>
    <url-pattern>/EncodingFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemoController</servlet-name>
    <servlet-class>memo.MemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoController</servlet-name>
    <url-pattern>/memo_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>product.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/product_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SurveyController</servlet-name>
    <servlet-class>survey.SurveyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyController</servlet-name>
    <url-pattern>/survey_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestbookController</servlet-name>
    <servlet-class>guestbook.GuestbookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestbookController</servlet-name>
    <url-pattern>/gb_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageController</servlet-name>
    <servlet-class>page.PageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageController</servlet-name>
    <url-pattern>/page_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>board.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/upload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>board.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board_servlet/*</url-pattern>
  </servlet-mapping>
</web-app>